# Functions

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

## Built in functions

In [2]:
print("Hello World!")

Hello World!

In [3]:
print(3*4)

12

In [4]:
a = [1, 2, 3, 4, 5]
len(a)

5

In [5]:
sum(a)

15

In [6]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

### User defined functions

In [7]:
def add(a: int|float, b: int|float) -> int|float:
    """
    This function adds two numbers
    """
    c = a + b
    return c

In [9]:
a1 = add(3, 4)
a1

7

In [10]:
type(a1)

int

In [11]:
a2 = add(3.5, 2)
a2

5.5

In [12]:
type(a2)

float

In [13]:
# Arguments inside the function
add(5, 7)

12

In [14]:
# Keyword arguments 
add(a=12, b=15)

27

In [15]:
add(3, 4, 5)

TypeError: add() takes 2 positional arguments but 3 were given

In [16]:
add(4)

TypeError: add() missing 1 required positional argument: 'b'

### Variadic functions
1. func(*args)
2. *args act like a tuple here in python

In [ ]:
def func(*args):
    print(args, type(args))
    for i in args:
        print(i)
    return args

In [21]:
b1 = func(2, 3)

(2, 3) <class 'tuple'>
2
3

In [22]:
b1

(2, 3)

In [ ]:
b2 = func(4, 5, "Example", True, 5.4, 10.5, False)

(4, 5, 'Example', True, 5.4, 10.5, False) <class 'tuple'>
4
5
Example
True
5.4
10.5
False

In [24]:
b3 = func("Sarthak", "Raman", "Rahul")

('Sarthak', 'Raman', 'Rahul') <class 'tuple'>
Sarthak
Raman
Rahul

### Write a function to add any amount of numbers

In [25]:
def add_multiple(*args):
    # Intialize sum to 0
    s = 0
    
    # Apply for loop on args
    for i in args:
        s = s + i
    
    # Return the value of s
    return s

In [26]:
add_multiple(3, 5)

8

In [27]:
add_multiple(3, 4, 5, 6)

18

In [28]:
3 + 4 + 5 + 6

18

In [29]:
add_multiple(5, 6, 7, 8, 9, 10, 11)

56

In [31]:
range(1, 101)

range(1, 101)

In [33]:
c = list(range(1, 101))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [36]:
# Unpack and provide list / tuple as input here
add_multiple(*c)

5050

### Billing Example

In [37]:
cart1 = [
    ("Laptop", 54000, 2),
    ("Headphones", 1500, 4),
    ("Mouse", 500, 2),
    ("Keyboard", 1200, 1),
    ("Mouse pad", 300, 2)
]

In [39]:
def billing(cart_id: int, *args) -> int|float:
    # Intialize the total to 0
    total = 0

    # Print the cart id
    print(f"Cart Id : {cart_id}")
    # Apply for loop on args
    for product, price, qty in args:
        item_total = price*qty
        total = total + item_total
        print(f"Product : {product}, Price : {price} INR, Qty : {qty} Nos")
        print(f"Item Total : {item_total:.2f} INR")
        print("\n================================================================\n")

    # Show the total
    print(f"Final Total : {total:.2f} INR")
    return total

In [40]:
cart1

[('Laptop', 54000, 2),
 ('Headphones', 1500, 4),
 ('Mouse', 500, 2),
 ('Keyboard', 1200, 1),
 ('Mouse pad', 300, 2)]

In [44]:
c1 = billing(101, *cart1)

Cart Id : 101
Product : Laptop, Price : 54000 INR, Qty : 2 Nos
Item Total : 108000.00 INR

================================================================

Product : Headphones, Price : 1500 INR, Qty : 4 Nos
Item Total : 6000.00 INR

================================================================

Product : Mouse, Price : 500 INR, Qty : 2 Nos
Item Total : 1000.00 INR

================================================================

Product : Keyboard, Price : 1200 INR, Qty : 1 Nos
Item Total : 1200.00 INR

================================================================

Product : Mouse pad, Price : 300 INR, Qty : 2 Nos
Item Total : 600.00 INR

================================================================

Final Total : 116800.00 INR

In [45]:
c1

116800

In [47]:
c2 = billing(
    102,
    ("GPU", 50000, 1),
    ("RAM", 5000, 2)
)

Cart Id : 102
Product : GPU, Price : 50000 INR, Qty : 1 Nos
Item Total : 50000.00 INR

================================================================

Product : RAM, Price : 5000 INR, Qty : 2 Nos
Item Total : 10000.00 INR

================================================================

Final Total : 60000.00 INR

In [49]:
c2

60000

In [48]:
help(billing)

Help on function billing in module __main__:

billing(cart_id: int, *args) -> int | float

### Keyword Arguments in python
**kwargs - This will act like a dictionary in python

In [50]:
d = {
    "a": 1,
    "b": 2,
    "c": 3,
    "d": 4
}

In [51]:
type(d)

dict

In [52]:
d["a"]

1

In [53]:
d["b"]

2

In [54]:
d.get("c")

3

In [55]:
d.get("d")

4

In [58]:
print(d.get("e"))

None

In [60]:
d.get("e", "N/A")

'N/A'

In [61]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [62]:
for key, value in d.items():
    print(f"{key} : {value}")

a : 1
b : 2
c : 3
d : 4

In [65]:
def func2(**kwargs):
    print(kwargs, type(kwargs))

    for key, value in kwargs.items():
        print(f"{key}: {value}")
        
    return kwargs

In [66]:
func2(name="Sarthak", age=23)

{'name': 'Sarthak', 'age': 23} <class 'dict'>
name: Sarthak
age: 23

{'name': 'Sarthak', 'age': 23}

In [68]:
d2 = func2(name="Aditi", age=25, email="aditi@gmail.com", location="Pune")

{'name': 'Aditi', 'age': 25, 'email': 'aditi@gmail.com', 'location': 'Pune'} <class 'dict'>
name: Aditi
age: 25
email: aditi@gmail.com
location: Pune

In [69]:
d2

{'name': 'Aditi', 'age': 25, 'email': 'aditi@gmail.com', 'location': 'Pune'}

### Practical example of kwargs

In [71]:
def create_user(**kwargs):

    if "username" not in kwargs:
        raise ValueError("username should be available while creating a user")
    
    profile = {
        "username": kwargs["username"],
        "Full Name": kwargs.get("full_name", "N/A"),
        "Email": kwargs.get("email", "N/A"),
        "City": kwargs.get("city", "N/A"),
        "Blood Group": kwargs.get("blood_group", "N/A") 
    }

    return profile

In [72]:
u1 = create_user(
    username="sarthaks3",
    full_name= "Sarthak More",
    city = "Nashik"
)

In [73]:
u1

{'username': 'sarthaks3',
 'Full Name': 'Sarthak More',
 'Email': 'N/A',
 'City': 'Nashik',
 'Blood Group': 'N/A'}

In [74]:
u2 = create_user(
    username = "ramanv4",
    full_name = "Raman Verma",
    email = "raman@gmail.com",
    blood_group = "A+ve"
)

In [75]:
u2

{'username': 'ramanv4',
 'Full Name': 'Raman Verma',
 'Email': 'raman@gmail.com',
 'City': 'N/A',
 'Blood Group': 'A+ve'}

In [76]:
u3 = create_user(
    full_name = "Rahul Sharma",
    city= "Pune"
)

ValueError: username should be available while creating a user

In [77]:
u3

NameError: name 'u3' is not defined

In [78]:
u4 = create_user(
    username = "rahuls1",
    full_name = "Rahul Sharma",
    email = "rahuls@test.com",
    city = "Pune",
    blood_group = "B+ve"
)

In [79]:
u4

{'username': 'rahuls1',
 'Full Name': 'Rahul Sharma',
 'Email': 'rahuls@test.com',
 'City': 'Pune',
 'Blood Group': 'B+ve'}